<div id="<%= dom_id recipe%>" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% if recipe.foods.any? %>
        <% recipe.foods.each do |food| %>
          <%= render "foods/food", food: food %> 
        <% end %>
      <% else %>
        <h4>No foods have been added yet to this recipe.</h4>
      <% end %>
      </tbody>             
    </table>
  </div>
