<div id="recipe-foods">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <th scope="row">Potato</th>
          <td>12</td>
          <td>1.25</td>
          <td>
            <% if can? :destroy, @food %>
              <div>
                <%= button_to "Modify", food_path(@food.id),
                  class:"btn btn-outline-danger float-right", method: :put %>
                  <%= button_to "Remove", food_path(@food.id),
                  class:"btn btn-outline-danger float-right", method: :delete %>
              </div>
              <% else%>
              <button class="btn disabled">No action</button>
            <% end %>
          </td>    
      </tr>
      </tbody>             
    </table>
  </div>
